In [1]:
""" 
print() function
"""


print("Hello world!")
print(100)
pi = 3.14
print(pi)

Hello world!
100
3.14

In [5]:
intro = "My name is"
name = "Geum Cheol"
print(intro + name)

My name isGeum Cheol

In [9]:
"""
Variables
"""

user_name = "Geum Cheol"
user_id = 201755012
user_email = "kja6023@hs.ac.kr"
is_student = True

#실습

In [12]:
# Declare and Initialize a variable
x = 1
print('x = ' , x)
print("Address of x: ", id(x))

#(Re)Assign a value to the variable
x = 2
print('x = ' , x)
print("Address of x: ", id(x))

x =  1
Address of x:  140707874285360
x =  2
Address of x:  140707874285392

In [13]:
# Valid cases:
myvar = "Shin"
my_var = "Shin"
_my_var = "Shin"
myVar = "Shin"
MYVAR = "Shin"
myvar2 = "Shin"

In [15]:
"""
Data Types: Integers
"""

chairs = 7
tables = 1
smartphone = 5
sofas = 1
broken_chairs = -1

#실습

In [16]:
"""
Data Types: Real Numbers
"""

PI = 3.14
Kospi_index = 3125.76
Krw_usd_exhange = 1176.83
Kosdaq_index =  1035.66

#실습 본인이 알고 있는 실수를 변수로 정의

In [17]:
"""
Data Types: Strings
"""

favorite_color = "Black"
favorite_game =  "Genshin"
favorite_sport = "Baseball"


#실습 본인이 좋아하는 것들을 문자열 변수로 정의

In [20]:
"""
Plus-Equals Operations
"""

a = 8
a *= 2
print(a)

16

In [22]:
"""
Erros
"""

#Name Erros


my_school = "HSU"
print(my_school)

HSU

In [2]:
is_tested = True
print(type(is_tested)) # 변수가 어떤 데이터 타입인지를 알려주는 함수

<class 'bool'>

In [4]:
# 1
print("Yes" == 'Yes')

# 2
print((2 > 1) == (5 < 10))

# 3
c = '2'
d = 2
print(c == d)

True
True
False

In [6]:
"""
conditional statements
"""

puppy = "maltepoo"
is_yes = False

if puppy == "maltese":
    is_yes = True
    print("말티즈가 맞습니다.")

elif puppy == "poodle":
    is_yes = True
    print("푸들이 맞습니다.")
    
print(is_yes)

False

In [9]:
"Exception Handling"

x = 1

try:
    print(y)
    print(x)
except:
    print('[Error]')

print("continue...")

[Error]
continue...

In [3]:
#리스트 소수
"""
Lists
"""
primes = [2,3,5,7,11,2]
print(primes)

empty_list = []
print(empty_list)

[2, 3, 5, 7, 11, 2]
[]

In [6]:
"""
Multiple differnet data types
"""
mixed =['Jenny', 1, 1.4, True]
print(mixed)
list_of_lists = [ ['a', 1],['b', 2] ]

['Jenny', 1, 1.4, True]

In [7]:
"""
Zero-indexing
"""

names = ['Roger','Rafael','Andy','Novak']

print(names[0]) #first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [9]:
"""
Negative indexing
"""
print(names[-1]) #last data
print(names[-2]) #second to last data
print(names[-3]) #third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [18]:
#인덱스 구간에 있는 값을 구하는 방법
"""
List slicing
"""
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] #독립적인 객체
building_slice[0] = '생활관'

print(building_slice)
print(hsu_buildings)
print(hsu_buildings[:])

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [20]:
"""
Multi-dimensinal Lists
"""

foodstore = [['해우리', '청정원', '맥도날드'], ['짜장명가', ' 중식', '중화비빔밥'], ['찌개동아리', '한식', '제육전골'], ['맘스터치', '양식', '싸이버거']]

print(foodstore)

foodstore[0][2] = '해우라면'
print(foodstore[0])

[['해우리', '청정원', '맥도날드'], ['짜장명가', ' 중식', '중화비빔밥'], ['찌개동아리', '한식', '제육전골'], ['맘스터치', '양식', '싸이버거']]
['해우리', '청정원', '해우라면']

In [23]:
"""

Adding Lists Together
"""
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
print(total_items)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [24]:
"""
Useful Methods for Lists
"""

# Len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size)

5

In [25]:
# append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')

print(orders)

['daisies', 'periwinkle', 'tulips']

In [29]:
# insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, 'Vikor')

print(store_line)

['Karla', 'Maxium', 'Vikor', 'Martin', 'Isabella']

In [30]:
# pop()

sw_subjects = ['C Programming', 'Calculus', 'Data Engineering', 'Data Structures', 'Machine Learning']
sw_subjects.pop(2)

'Data Engineering'

In [31]:
sw_subjects = ['C Programming', 'Calculus', 'Data Engineering', 'Data Structures', 'Machine Learning']
sw_subjects.remove('Calculus')
print(sw_subjects)

['C Programming', 'Data Engineering', 'Data Structures', 'Machine Learning']

In [32]:
# Error
sw_subjects = ['C Programming', 'Calculus', 'Data Engineering', 'Data Structures', 'Machine Learning']
sw_subjects.remove('Algorithms')
print(sw_subjects)

ValueError: list.remove(x): x not in list

In [33]:
# sort()

numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [34]:
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()

print(hsu_buildings)

['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']

In [35]:
# sorted()

numbers = [4, 2, 1, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 2, 3, 4]

In [3]:
"""
for Loops
"""
nums = [1, 2, 3, 4, 5]
for num in nums:
    print(num)
    
# range()
for i in range(4):
    print(i)

1
2
3
4
5
0
1
2
3

In [9]:
"""
continue Keyword
"""
nums = [1, 2, -1, 4, -5, 5, 2, -9]

for num in nums:
    # If num is negative, we skip it
    if num < 0:
        continue
    print(num)

1
2
4
5
2

In [10]:
"""
break Keyword
"""

game_plays = ['stage1', 'stage2', 'stage3', 'gameover', 'stage4']

for play in game_plays:
    
    if play == 'gameover':
        print("Game is over...")
        break
     
    print(play + " is complete.")

stage1 is complete.
stage2 is complete.
stage3 is complete.
Game is over...

In [13]:
"""
List Comprehnesion
"""

one_to_ten = [i+1 for i in range(10)]
print (one_to_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
"""
List comprehension including conditions
"""

hotspurs = [['손흥민', 'A+'], ['케인', 'F'],['돔벨레', 'F'], ['알리', 'F'],
            ['모우라', 'B+'], ['호이비에르','D']]
poors = [player[0] for player in hotspurs if player[1] == 'F']
print(poors)

['케인', '돔벨레', '알리']

In [18]:
"""
Nested Loops
"""

one_to_nine = [i+1 for i in range(9)]

for i in one_to_nine:
    for j in one_to_nine:
        print("%d x %d = %d" % (i, j, i*j))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# Infinite Loop
x = 1
y = 1
while x < 5:
    print("Do somthing")
    y +=1
    if y > 5:
        print("why doesn't it end?")