In [1]:
""" 
print() function
"""


print("Hello world!")
print(100)
pi = 3.14
print(pi)

Hello world!
100
3.14

In [5]:
intro = "My name is"
name = "Geum Cheol"
print(intro + name)

My name isGeum Cheol

In [9]:
"""
Variables
"""

user_name = "Geum Cheol"
user_id = 201755012
user_email = "kja6023@hs.ac.kr"
is_student = True

#실습

In [12]:
# Declare and Initialize a variable
x = 1
print('x = ' , x)
print("Address of x: ", id(x))

#(Re)Assign a value to the variable
x = 2
print('x = ' , x)
print("Address of x: ", id(x))

x =  1
Address of x:  140707874285360
x =  2
Address of x:  140707874285392

In [13]:
# Valid cases:
myvar = "Shin"
my_var = "Shin"
_my_var = "Shin"
myVar = "Shin"
MYVAR = "Shin"
myvar2 = "Shin"

In [15]:
"""
Data Types: Integers
"""

chairs = 7
tables = 1
smartphone = 5
sofas = 1
broken_chairs = -1

#실습

In [16]:
"""
Data Types: Real Numbers
"""

PI = 3.14
Kospi_index = 3125.76
Krw_usd_exhange = 1176.83
Kosdaq_index =  1035.66

#실습 본인이 알고 있는 실수를 변수로 정의

In [17]:
"""
Data Types: Strings
"""

favorite_color = "Black"
favorite_game =  "Genshin"
favorite_sport = "Baseball"


#실습 본인이 좋아하는 것들을 문자열 변수로 정의

In [20]:
"""
Plus-Equals Operations
"""

a = 8
a *= 2
print(a)

16

In [22]:
"""
Erros
"""

#Name Erros


my_school = "HSU"
print(my_school)

HSU

In [2]:
is_tested = True
print(type(is_tested)) # 변수가 어떤 데이터 타입인지를 알려주는 함수

<class 'bool'>

In [4]:
# 1
print("Yes" == 'Yes')

# 2
print((2 > 1) == (5 < 10))

# 3
c = '2'
d = 2
print(c == d)

True
True
False

In [6]:
"""
conditional statements
"""

puppy = "maltepoo"
is_yes = False

if puppy == "maltese":
    is_yes = True
    print("말티즈가 맞습니다.")

elif puppy == "poodle":
    is_yes = True
    print("푸들이 맞습니다.")
    
print(is_yes)

False

In [9]:
"Exception Handling"

x = 1

try:
    print(y)
    print(x)
except:
    print('[Error]')

print("continue...")

[Error]
continue...

In [3]:
#리스트 소수
"""
Lists
"""
primes = [2,3,5,7,11,2]
print(primes)

empty_list = []
print(empty_list)

[2, 3, 5, 7, 11, 2]
[]

In [6]:
"""
Multiple differnet data types
"""
mixed =['Jenny', 1, 1.4, True]
print(mixed)
list_of_lists = [ ['a', 1],['b', 2] ]

['Jenny', 1, 1.4, True]

In [7]:
"""
Zero-indexing
"""

names = ['Roger','Rafael','Andy','Novak']

print(names[0]) #first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [9]:
"""
Negative indexing
"""
print(names[-1]) #last data
print(names[-2]) #second to last data
print(names[-3]) #third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [18]:
#인덱스 구간에 있는 값을 구하는 방법
"""
List slicing
"""
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] #독립적인 객체
building_slice[0] = '생활관'

print(building_slice)
print(hsu_buildings)
print(hsu_buildings[:])

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [ ]:
27;00