In [67]:
""" 
print() function
"""


print("Hello world!")
print(100)
pi = 3.14
print(pi)

Hello world!
100
3.14

In [68]:
intro = "My name is"
name = "Geum Cheol"
print(intro + name)

My name isGeum Cheol

In [69]:
"""
Variables
"""

user_name = "Geum Cheol"
user_id = 201755012
user_email = "kja6023@hs.ac.kr"
is_student = True

#실습

In [70]:
# Declare and Initialize a variable
x = 1
print('x = ' , x)
print("Address of x: ", id(x))

#(Re)Assign a value to the variable
x = 2
print('x = ' , x)
print("Address of x: ", id(x))

x =  1
Address of x:  140717397845808
x =  2
Address of x:  140717397845840

In [71]:
# Valid cases:
myvar = "Shin"
my_var = "Shin"
_my_var = "Shin"
myVar = "Shin"
MYVAR = "Shin"
myvar2 = "Shin"

In [72]:
"""
Data Types: Integers
"""

chairs = 7
tables = 1
smartphone = 5
sofas = 1
broken_chairs = -1

#실습

In [73]:
"""
Data Types: Real Numbers
"""

PI = 3.14
Kospi_index = 3125.76
Krw_usd_exhange = 1176.83
Kosdaq_index =  1035.66

#실습 본인이 알고 있는 실수를 변수로 정의

In [74]:
"""
Data Types: Strings
"""

favorite_color = "Black"
favorite_game =  "Genshin"
favorite_sport = "Baseball"


#실습 본인이 좋아하는 것들을 문자열 변수로 정의

In [75]:
"""
Plus-Equals Operations
"""

a = 8
a *= 2
print(a)

16

In [76]:
"""
Erros
"""

#Name Erros


my_school = "HSU"
print(my_school)

HSU

In [77]:
is_tested = True
print(type(is_tested)) # 변수가 어떤 데이터 타입인지를 알려주는 함수

<class 'bool'>

In [78]:
# 1
print("Yes" == 'Yes')

# 2
print((2 > 1) == (5 < 10))

# 3
c = '2'
d = 2
print(c == d)

True
True
False

In [79]:
"""
conditional statements
"""

puppy = "maltepoo"
is_yes = False

if puppy == "maltese":
    is_yes = True
    print("말티즈가 맞습니다.")

elif puppy == "poodle":
    is_yes = True
    print("푸들이 맞습니다.")
    
print(is_yes)

False

In [80]:
"Exception Handling"

x = 1

try:
    print(y)
    print(x)
except:
    print('[Error]')

print("continue...")

[Error]
continue...

In [81]:
#리스트 소수
"""
Lists
"""
primes = [2,3,5,7,11,2]
print(primes)

empty_list = []
print(empty_list)

[2, 3, 5, 7, 11, 2]
[]

In [2]:
"""
Multiple differnet data types
"""
mixed =['Jenny', 1, 1.4, True]
print(mixed)
list_of_lists = [ ['a', 1],['b', 2] ]

['Jenny', 1, 1.4, True]

In [83]:
"""
Zero-indexing
"""

names = ['Roger','Rafael','Andy','Novak']

print(names[0]) #first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [84]:
"""
Negative indexing
"""
print(names[-1]) #last data
print(names[-2]) #second to last data
print(names[-3]) #third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [85]:
#인덱스 구간에 있는 값을 구하는 방법
"""
List slicing
"""
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] #독립적인 객체
building_slice[0] = '생활관'

print(building_slice)
print(hsu_buildings)
print(hsu_buildings[:])

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [86]:
"""
Multi-dimensinal Lists
"""

foodstore = [['해우리', '청정원', '맥도날드'], ['짜장명가', ' 중식', '중화비빔밥'], ['찌개동아리', '한식', '제육전골'], ['맘스터치', '양식', '싸이버거']]

print(foodstore)

foodstore[0][2] = '해우라면'
print(foodstore[0])

[['해우리', '청정원', '맥도날드'], ['짜장명가', ' 중식', '중화비빔밥'], ['찌개동아리', '한식', '제육전골'], ['맘스터치', '양식', '싸이버거']]
['해우리', '청정원', '해우라면']

In [87]:
"""

Adding Lists Together
"""
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
print(total_items)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [88]:
"""
Useful Methods for Lists
"""

# Len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size)

5

In [89]:
# append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')

print(orders)

['daisies', 'periwinkle', 'tulips']

In [90]:
# insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, 'Vikor')

print(store_line)

['Karla', 'Maxium', 'Vikor', 'Martin', 'Isabella']

In [91]:
# pop()

sw_subjects = ['C Programming', 'Calculus', 'Data Engineering', 'Data Structures', 'Machine Learning']
sw_subjects.pop(2)

'Data Engineering'

In [92]:
sw_subjects = ['C Programming', 'Calculus', 'Data Engineering', 'Data Structures', 'Machine Learning']
sw_subjects.remove('Calculus')
print(sw_subjects)

['C Programming', 'Data Engineering', 'Data Structures', 'Machine Learning']

In [93]:
# Error
sw_subjects = ['C Programming', 'Calculus', 'Data Engineering', 'Data Structures', 'Machine Learning']
sw_subjects.remove('Algorithms')
print(sw_subjects)

ValueError: list.remove(x): x not in list

In [ ]:
# sort()

numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

In [ ]:
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()

print(hsu_buildings)

In [ ]:
# sorted()

numbers = [4, 2, 1, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

In [ ]:
"""
for Loops
"""
nums = [1, 2, 3, 4, 5]
for num in nums:
    print(num)
    
# range()
for i in range(4):
    print(i)

In [ ]:
"""
continue Keyword
"""
nums = [1, 2, -1, 4, -5, 5, 2, -9]

for num in nums:
    # If num is negative, we skip it
    if num < 0:
        continue
    print(num)

In [ ]:
"""
break Keyword
"""

game_plays = ['stage1', 'stage2', 'stage3', 'gameover', 'stage4']

for play in game_plays:
    
    if play == 'gameover':
        print("Game is over...")
        break
     
    print(play + " is complete.")

In [ ]:
"""
List Comprehnesion
"""

one_to_ten = [i+1 for i in range(10)]
print (one_to_ten)

In [ ]:
"""
List comprehension including conditions
"""

hotspurs = [['손흥민', 'A+'], ['케인', 'F'],['돔벨레', 'F'], ['알리', 'F'],
            ['모우라', 'B+'], ['호이비에르','D']]
poors = [player[0] for player in hotspurs if player[1] == 'F']
print(poors)

In [ ]:
"""
Nested Loops
"""

one_to_nine = [i+1 for i in range(9)]

for i in one_to_nine:
    for j in one_to_nine:
        print("%d x %d = %d" % (i, j, i*j))

In [ ]:
# Infinite Loop
x = 1
y = 1
while x < 5:
    print("Do somthing")
    y +=1
    if y > 5:
        print("why doesn't it end?")

In [49]:
"""
Functions vs method
"""
#functions

def my_function(x):
    return x+1
y = 2
result =my_function(y)
print(result)

#method

class my_class:
    def my_method(self):
        return x+1
    
cls = my_class()
cls.my_method()

3

array([[-2.66590391e-01, -2.71998007e+00],
       [ 1.89857439e+00,  2.00797760e+00],
       [ 1.08122833e+00, -1.29506499e+00],
       [-3.20694607e-01, -3.01236325e+00],
       [ 8.00676220e-01,  2.48873278e-01],
       [ 4.37570121e-01, -2.58770608e+00],
       [ 1.44484589e+00,  1.65825555e+00],
       [ 3.73443783e-01, -1.70315425e+00],
       [ 1.49524476e+00,  1.24543952e+00],
       [ 7.37965857e-01,  9.98228260e-01],
       [ 1.57877273e+00,  3.63632100e+00],
       [-2.52574718e-02, -9.31294540e-01],
       [ 4.29368951e-01, -1.11768692e+00],
       [ 1.47163922e+00,  1.12576827e+00],
       [ 1.04453806e+00,  1.68157702e+00],
       [ 1.79084221e+00,  2.47981907e+00],
       [ 1.95831099e+00,  2.39872339e+00],
       [ 1.62499709e+00,  2.49516840e+00],
       [ 1.94255316e+00,  3.52925434e+00],
       [-8.17425266e-01, -2.58446991e+00],
       [ 1.51691384e+00,  1.28717773e+00],
       [ 1.04260992e+00,  2.93476910e+00],
       [ 1.19682744e+00,  7.85704345e-01],
       [ 1.98842468e-02,  9.07091034e-01],
       [ 6.52794199e-01,  8.29826877e-01],
       [ 8.57478965e-01,  2.74651299e-01],
       [ 2.18923685e+00,  3.49294590e+00],
       [ 9.68502130e-01,  1.55891378e+00],
       [-1.31436945e-01, -7.23712786e-01],
       [ 3.97422857e-01,  5.03319980e-01],
       [ 1.21752093e+00,  2.88123670e+00],
       [ 6.40189827e-01, -1.91311960e-01],
       [ 5.77588126e-01, -1.01590709e-01],
       [-6.27097945e-01, -1.28312406e+00],
       [-4.84792374e-01, -4.09616263e+00],
       [ 2.52723792e+00,  4.14104857e+00],
       [ 5.16849697e-01,  7.81930392e-01],
       [ 1.48225423e+00, -2.45501095e-02],
       [ 9.66043442e-01,  1.81421491e+00],
       [ 4.95811129e-01,  6.07575349e-01],
       [ 1.28223121e+00,  1.46406744e+00],
       [ 6.70719778e-01,  6.48883926e-01],
       [ 7.71252310e-01,  5.76568255e-01],
       [ 1.47512375e+00,  2.55572231e+00],
       [ 4.55217042e-01,  9.07322168e-01],
       [-1.78511984e-01, -1.64476775e+00],
       [ 1.59114963e+00,  1.73580464e+00],
       [ 5.79145471e-01,  6.76795759e-02],
       [ 1.30099558e+00,  1.77385650e+00],
       [ 1.30568080e+00,  2.49352315e+00],
       [ 9.44494118e-01,  2.19139454e+00],
       [ 4.00069664e-01,  1.94124810e-01],
       [ 1.94674679e+00,  3.46898717e+00],
       [ 6.80780472e-01, -8.02942207e-01],
       [ 1.23347278e+00,  1.59895489e+00],
       [ 2.14798871e+00,  4.11261598e+00],
       [ 5.47172007e-01, -1.02355683e+00],
       [ 1.17832687e+00,  1.01138075e-02],
       [ 1.65407930e+00,  8.30187722e-01],
       [-1.92534329e-01, -1.43644180e+00],
       [ 1.31938461e+00,  9.32033768e-01],
       [-9.29574283e-01, -1.52922881e+00],
       [ 2.24349192e+00,  5.34006937e+00],
       [-6.33104693e-01, -2.57680227e+00],
       [ 1.77759124e+00,  3.81174955e+00],
       [ 1.39825898e+00,  1.30780326e+00],
       [ 1.92574396e+00,  3.83084111e+00],
       [ 5.06156843e-01, -8.67147645e-01],
       [ 9.56970668e-01, -3.42508192e-01],
       [ 2.41356471e-01, -7.81123416e-01],
       [ 1.21130445e+00,  1.40000514e+00],
       [-8.99162386e-02, -8.19050859e-01],
       [ 4.58141852e-01, -1.59114574e-01],
       [ 6.91458772e-01,  9.24445554e-01],
       [ 5.24001920e-01,  5.89627299e-01],
       [ 2.21828261e+00,  1.30574500e+00],
       [-7.96669665e-01, -9.70374561e-01],
       [ 6.30560173e-01, -3.13884991e-04],
       [ 1.17161857e+00,  1.28546056e+00],
       [ 1.41329378e+00,  7.83315134e-01],
       [ 1.85927863e+00,  1.99530807e+00],
       [ 8.83659201e-01,  3.98046397e-01],
       [ 6.09340398e-01, -1.32233046e-01],
       [ 7.02922149e-03, -1.16611609e+00],
       [-2.98236734e-01, -4.18682700e+00],
       [ 1.25268899e+00,  2.58580757e+00],
       [-1.24071996e+00, -4.67869687e+00],
       [ 1.04626182e+00,  8.66725147e-01],
       [-1.20158015e-01, -2.01528046e+00],
       [ 4.94080168e-01, -5.67549277e-01],
       [ 2.05570147e+00,  3.88807041e+00],
       [ 4.02217302e-02,  8.26678928e-02],
       [ 1.33829398e+00,  1.14848603e+00],
       [ 3.87950444e-01, -2.17046387e-01],
       [ 7.68678300e-01,  3.62403395e-01],
       [-2.13411797e-01, -1.52949918e+00],
       [-1.18485819e+00, -3.07211516e+00],
       [ 1.01391107e+00, -7.27942266e-01],
       [ 2.82694509e-01, -2.76818466e-01],
       [-1.48912338e-01, -6.43223772e-01]])

In [ ]:
""" #실습 참고
Function Parameters
"""
def introduce_myself(name, birthyear, city): #parameter
    print("Hello everyone, MY name is %s, I was born in %d, and I live in %s"
    % (name, birthyear, city))
introduce_myself("Hyun Ahn", 1985, "Anyang") #ar

In [ ]:
"""
Return Keyword
"""

# Leap year = 윤년 (2월 29일)
def check_leap_year(year):
    if year % 6 == 0:
        return "%s is a leap year." % (year)
    else:
        return "%s is not a leap year." % (year)
check_leap_year(2021)

In [ ]:
"""
Returning Multiple Values
"""


def square_point(x, y, z):
    x_squared = x ** 2
    y_squared = y ** 2
    z_squared = z ** 2
    return x_squared, y_squared, z_squared
three_squared, four_squared, five_squared = square_point(3, 4, 5)

print(three_squared, four_squared, five_squared)

In [ ]:
"""
Global variables
"""

a = "Hello"

def prints_a():
    print(a)
    
prints_a()

In [ ]:
"""
Local Variables
"""

def f1():
    a = 2 # local var.
    print(c)
f1()
print(c)

In [ ]:
"""
Keyworld Arguments and Default Valuves
"""
def findvolume(height, width, depth):
    print("Height = %s" % (height))
    print("Width = %s" % (width))
    print("Depth = %s" % (depth))
    return height * width * depth
#EX: height = 3, width = 1, depth = 2
print(findvolume(height=3, depth=2, width=1 ))

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# Creating a NumPy Array
lst = [1, 2, 3, 4]

arr = np.array(lst)
print(arr)
print(type(arr))

[1 2 3 4]
<class 'numpy.ndarray'>

In [3]:
# .dtype attribut
print(arr.dtype)
lst = [1.1, 1.2, 2.5]

int32

In [4]:
arr = np.array([1.1, 1.2, 2.5])
print(arr.dtype)

float64

In [5]:
"""
Size Comparison of ndarray and list objects
"""

from sys import getsizeof

lst = []
print(getsizeof(lst))

arr = np.array([])
print(getsizeof(arr))

56
104

In [6]:
"""
Operations with Numpy arrays
"""

prices = [30, 25, 40, 20, 20, 35, 50, 35]
price_arr = np.array(prices)
#With a list
new_prices = [price -5 for price in prices]
print(new_prices)

price_arr -=5
print(price_arr)

[25, 20, 35, 15, 15, 30, 45, 30]
[25 20 35 15 15 30 45 30]

In [7]:
# Exercise: Operation with Test Scores
"""
Exercise: Test Scores
"""
test_1 = np.array([92, 94, 88, 91, 87])
test_2 = np.array([79, 100, 86, 93, 91])
test_3 = np.array([87, 85, 72, 90 ,92])

test_3_fixed = test_3 +2
print(test_3_fixed)

total_grade = test_1 + test_2 + test_3_fixed
print(total_grade)

final_grade = total_grade /3
print(final_grade)

student_scores = np.array([test_1, test_2, test_3_fixed])
print(student_scores)

jeremy_test_2 = student_scores[1,3]
print(jeremy_test_2)

manual_adwoa_test_1 = np.array([student_scores[0, 1], student_scores[0, 2]])
print(manual_adwoa_test_1)

print(student_scores[:, 4])

[89 87 74 92 94]
[260 281 248 276 272]
[86.66666667 93.66666667 82.66666667 92.         90.66666667]
[[ 92  94  88  91  87]
 [ 79 100  86  93  91]
 [ 89  87  74  92  94]]
93
[94 88]
[87 91 94]

In [8]:
a = np.array([10, 2, 2, 4, 5, 3, 9, 8, 9, 7])
mask = a > 5
print(mask)

# select using logical operations 
selected = a[a > 5]
print(selected)
# combined logical operations
selected = a[(a > 5) & a < 4]
print(selected)

selected = a[(a > 4) & (a < 7)]
print(selected)

[ True False False False False False  True  True  True  True]
[10  9  8  9  7]
[10  2  2  4  5  3  9  8  9  7]
[5]

In [9]:
# Exercise: Goldilocks Porridge Festival

In [10]:
"""

"""
#
print(np.arange(3))
print(np.arange(3, 9))
print(np.arange(3, 9, 1))

[0 1 2]
[3 4 5 6 7 8]
[3 4 5 6 7 8]

In [11]:
# Radoom number generator

np.random.seed(0)
arr1 = np.random.randint(10, size=(5, 6))
print(arr1)

[[5 0 3 3 7 9]
 [3 5 2 4 7 6]
 [8 8 1 6 7 7]
 [8 1 5 9 8 9]
 [4 3 0 3 5 0]]

In [12]:
# Attributes

np.random.seed(1)
arr = np.random.randint(10, size=(3, 4))
print(arr)

print("arr.ndim =", arr.ndim)
print("arr.shape =", arr.shape)
print("arr.size =", arr.size)
print("arr.dtype =", arr.dtype)
print("arr.itemsize =", arr.itemsize)
print("arr.nbytes =", arr.nbytes)

[[5 8 9 5]
 [0 0 1 7]
 [6 9 2 4]]
arr.ndim = 2
arr.shape = (3, 4)
arr.size = 12
arr.dtype = int32
arr.itemsize = 4
arr.nbytes = 48

In [13]:
"""
Slicing
"""
arr = np.arange(10)
print(arr)

print(arr[3:7])
print(arr[:5])
print(arr[5:])
print(arr[::3])
print(arr[2:8:2])

[0 1 2 3 4 5 6 7 8 9]
[3 4 5 6]
[0 1 2 3 4]
[5 6 7 8 9]
[0 3 6 9]
[2 4 6]

In [14]:
# Multi-dimensional subarrays
np.random.seed(2)
arr = np.random.randint(10, size=(6, 8))
print(arr)
arr_sub = arr[:2, :2]
print(arr_sub)

arr_sub[0, 0] = 99
print(arr_sub)

[[8 8 6 2 8 7 2 1]
 [5 4 4 5 7 3 6 4]
 [3 7 6 1 3 5 8 4]
 [6 3 9 2 0 4 2 4]
 [1 7 8 2 9 8 7 1]
 [6 8 5 9 9 9 3 0]]
[[8 8]
 [5 4]]
[[99  8]
 [ 5  4]]

In [15]:
"""
Subarrays as no-copy views
"""

np.random.seed(2)
arr = np.random.randint(10, size=(6, 8))
print(arr)

arr_sub = arr[:2, :2].copy()
print(arr_sub)

arr_sub[0,0] = 99
print(arr_sub)

[[8 8 6 2 8 7 2 1]
 [5 4 4 5 7 3 6 4]
 [3 7 6 1 3 5 8 4]
 [6 3 9 2 0 4 2 4]
 [1 7 8 2 9 8 7 1]
 [6 8 5 9 9 9 3 0]]
[[8 8]
 [5 4]]
[[99  8]
 [ 5  4]]

In [16]:
"""
Reshaping of arr
"""

arr = np.arange(1, 10)
print(arr, '\n')

grid =arr.reshape(3, 3)
print(grid, '\n')

[1 2 3 4 5 6 7 8 9]

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [17]:
# np. newaxi

In [18]:
"""
Array Concatenation
"""
# np.concatenate() , np.vstack(), np.hstack

arr_1 = np.array([[1, 2, 3], [1, 2, 3]])
arr_2 = np.array([[4, 5, 6], [4, 5, 6]])
arr_3 = np.array([[7, 8, 9], [7, 8, 9]])

arr_total = np.concatenate([arr_1, arr_2, arr_3], axis=1)
print(arr_total)

arr_total = np.vstack([arr_1, arr_2, arr_3])
print(arr_total)

arr_total = np.hstack([arr_1, arr_2, arr_3])
print(arr_total)

[[1 2 3 4 5 6 7 8 9]
 [1 2 3 4 5 6 7 8 9]]
[[1 2 3]
 [1 2 3]
 [4 5 6]
 [4 5 6]
 [7 8 9]
 [7 8 9]]
[[1 2 3 4 5 6 7 8 9]
 [1 2 3 4 5 6 7 8 9]]

In [19]:
"""
Array Splitting
"""
arr = [1, 2, 3, 99, 99, 3, 2, 1]
print(arr, '\n')

arr_1, arr_2, arr_3 = np.split(arr, [3, 5])
print(arr_1, arr_2, arr_3)

[1, 2, 3, 99, 99, 3, 2, 1]

[1 2 3] [99 99] [3 2 1]

In [20]:
#Function for computing reciprocals
def compute_reciprocals(values):
    output = np.empty(len(values))
    for i in range(len(values)):
        output[i] = 1.0 / values[i]
    return output

values = np.random.randint(1, 10, size=5)
print(values)

compute_reciprocals(values)

[1 3 9 9 3]

array([1.        , 0.33333333, 0.11111111, 0.11111111, 0.33333333])

In [21]:
"""
Comparison: Loop vs ufuncs
"""
big_array = np.random.randint(1, 100, size=1000000)

# Looping on a big array
%timeit compute_reciprocals(big_array)

# magic function (e.g, $timeit)

1.9 s ± 42.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [22]:
# Vectorized operations
%timeit 1 / big_array

3.34 ms ± 248 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
"""
numpt.ufunc
"""

np.random.seed(1)
arr1 = np.random.randint(10, size=(5))
arr2 = np.random.randint(10, size=(5))
print(arr1, arr2)

arr1 = arr1 - 2
print(arr1)

arr3 =arr1 + arr2
print(arr3)

arr4 = np.random.randint(10, size=(3, 5))
print(arr4)

arr5 = arr4 **2
print(arr5)

[5 8 9 5 0] [0 1 7 6 9]
[ 3  6  7  3 -2]
[ 3  7 14  9  7]
[[2 4 5 2 4]
 [2 4 7 7 9]
 [1 7 0 6 9]]
[[ 4 16 25  4 16]
 [ 4 16 49 49 81]
 [ 1 49  0 36 81]]

In [24]:
"""
UFuncs: Array Arithmetic
"""

# Basic arithmetic operations on an array
x = np.arange(4)
print("x    =",x)
print("x + 5 =", x + 5)
print("x - 5 =", x - 5)
print("x * 2 =", x * 2)
print("x / 2 =", x / 2)
print("x ** 2 =", x ** 2)

# # Use UFuncs
# print("x + 5 =", np.add(x, 5))
# print("x - 5 =", np.subtrack(x, 5))
# print("x * 2 =", np.multiply(x, 2))
# print("x / 2 =", np.divide(x, 2))
# print("x ** 2 =", np.power(x, 2))

x    = [0 1 2 3]
x + 5 = [5 6 7 8]
x - 5 = [-5 -4 -3 -2]
x * 2 = [0 2 4 6]
x / 2 = [0.  0.5 1.  1.5]
x ** 2 = [0 1 4 9]

In [25]:
# Use UFuncs

In [26]:
"""

"""
x= np.array([-2, -1, 0, 1, 2])
print(np.abs(x))

x= np.array([3-4j, 4-3j, 2+0j, 0+1j])
print(np.abs(x))

[2 1 0 1 2]
[5. 5. 2. 1.]

In [27]:
"""
UFuncs: Trigonometric Functions
"""
theta = np.linspace(0, np.pi, 3)

print(theta)

print(np.sin(theta))
print(np.cos(theta))
print(np.tan(theta))

[0.         1.57079633 3.14159265]
[0.0000000e+00 1.0000000e+00 1.2246468e-16]
[ 1.000000e+00  6.123234e-17 -1.000000e+00]
[ 0.00000000e+00  1.63312394e+16 -1.22464680e-16]

In [28]:
"""
UFuncs:Agregation
"""
x = np.arange(1, 5)
print(x)

aggr = np.add.reduce(x)
print(aggr)

aggr = np.multiply.reduce(x)
print(aggr)

[1 2 3 4]
10
24

In [29]:
# accumulate()

x = np.arange(1, 15)
print(x)

accum = np.multiply.accumulate(x)
print(accum)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[         1          2          6         24        120        720
       5040      40320     362880    3628800   39916800  479001600
 1932053504 1278945280]

In [30]:
# Summing the volues in an Array

np.random.seed(2)
arr = np.random.rand(1000000) # rand(): create 0~1 real values

print(arr)
print('sum =', np.sum(arr))

%timeit sum(arr)

[0.4359949  0.02592623 0.54966248 ... 0.78483191 0.00778062 0.42442656]
sum = 499468.5166853333
75.3 ms ± 6.64 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [31]:
%timeit np.sum(arr)

1.49 ms ± 240 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [32]:
# Other Aggr. functions
print("max =", np.max(arr))
print("min =", np.min(arr))
print("mean =", np.mean(arr))
print("median =", np.median(arr))
print("percentile =", np.percentile(arr, 50))
print(np.any(arr>1))
print(np.all(arr>0))

max = 0.9999976661165695
min = 9.475783189216713e-07
mean = 0.49946851668533326
median = 0.49948650836352526
percentile = 0.49948650836352526
False
True

In [33]:
# Multi dimensuional aggregates

np.random.seed(5)

arr = np.random.randint(10, size=(3, 4))
print(arr)

print(np.sum(arr, axis=1))

[[3 6 6 0]
 [9 8 4 7]
 [0 0 7 1]]
[15 28  8]

In [34]:
"""

"""
# Broadcasting: 10 + 2D arrays
a = np.ones((3, 3))
print(a)

b = np.arange(3)
print(b)

print(a+b)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
[0 1 2]
[[1. 2. 3.]
 [1. 2. 3.]
 [1. 2. 3.]]

In [51]:
# broadcast both arrays

a = np.arange(3)
print(a)
a = a [:, np.newaxis]
print(a)

b = np.arange(3)
print(b)

print(a+b)

[0 1 2]
[[0]
 [1]
 [2]]
[0 1 2]
[[0 1 2]
 [1 2 3]
 [2 3 4]]

In [52]:
# # ValueError
a = np.ones((3, 2))
print(a)
b = np.arange(3)
print(b)

print(a+b)

[[1. 1.]
 [1. 1.]
 [1. 1.]]
[0 1 2]

ValueError: operands could not be broadcast together with shapes (3,2) (3,)

In [ ]:
"""
Comparisons, masks, and boolean logic
"""
x = np. array([1, 2, 3, 4, 5])
print(x < 3)
print(x >= 3)

print(x != 3)
print(x == 3)

In [ ]:
# bool masking for multi-dimensional arrays

np.random.seed(0)
a = np.random.randint(10, size=(3, 4))
print(a)

print(a < 6)

In [ ]:
"""
working with boolean arrays
"""

print(a)
print(np.count_nonzero(a < 6)) # True: 1, False: 0

print(np.sum(a <6))

print(np.any(a > 8))
print(np.all(a > 1))

In [ ]:
# Masubg operations

print(a)
print(a < 5)
print(a[a < 5])

In [ ]:
"""
Fancy Indexing
"""

np.random.seed(1)
x = np.random.randint(100, size=10)
print(x)

a = x[2]; b = x[4]; c = x[6];
print(a, b, c)

ind = [2, 4, 6]
print(x[ind])

In [ ]:
# For n-D arrays

np.random.seed(2)
x = np.random.randint(10, size=(3, 5))
print(x)

row = [0, 1, 2]
col = [2, 1, 4]

print(x[row, col])

In [ ]:
# For n-D arrays with broadcasting

print(x)

row = np.array([0, 1, 2]) # list -> ndarray
col = np.array([2, 1, 4])

x[row[:, np.newaxis], col]

In [ ]:
"""
Combined Indexing
"""
x = np.arange(1, 13).reshape(3, 4)
print(x)

ind = [2, 0, 1]

print(x[2, ind])

In [38]:
"""
Example: Selecting Random Points
"""

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set() #set plot styles
%config InlineBackend.figure_format = 'svg'

mean = [0, 0]
cov = [[1, 2],
       [2, 5]]

rand = np.random.RandomState(1)
x = rand.multivariate_normal(mean, cov, 100)
print(x)
print(x.shape)

[[-1.26659039e+00 -3.71998007e+00]
 [ 8.98574387e-01  1.00797760e+00]
 [ 8.12283322e-02 -2.29506499e+00]
 [-1.32069461e+00 -4.01236325e+00]
 [-1.99323780e-01 -7.51126722e-01]
 [-5.62429879e-01 -3.58770608e+00]
 [ 4.44845894e-01  6.58255553e-01]
 [-6.26556217e-01 -2.70315425e+00]
 [ 4.95244764e-01  2.45439522e-01]
 [-2.62034143e-01 -1.77174030e-03]
 [ 5.78772733e-01  2.63632100e+00]
 [-1.02525747e+00 -1.93129454e+00]
 [-5.70631049e-01 -2.11768692e+00]
 [ 4.71639223e-01  1.25768272e-01]
 [ 4.45380634e-02  6.81577017e-01]
 [ 7.90842213e-01  1.47981907e+00]
 [ 9.58310989e-01  1.39872339e+00]
 [ 6.24997094e-01  1.49516840e+00]
 [ 9.42553159e-01  2.52925434e+00]
 [-1.81742527e+00 -3.58446991e+00]
 [ 5.16913839e-01  2.87177733e-01]
 [ 4.26099193e-02  1.93476910e+00]
 [ 1.96827436e-01 -2.14295655e-01]
 [-9.80115753e-01 -9.29089657e-02]
 [-3.47205801e-01 -1.70173123e-01]
 [-1.42521035e-01 -7.25348701e-01]
 [ 1.18923685e+00  2.49294590e+00]
 [-3.14978696e-02  5.58913783e-01]
 [-1.13143694e+00 -1.72371279e+00]
 [-6.02577143e-01 -4.96680020e-01]
 [ 2.17520931e-01  1.88123670e+00]
 [-3.59810173e-01 -1.19131196e+00]
 [-4.22411874e-01 -1.10159071e+00]
 [-1.62709795e+00 -2.28312406e+00]
 [-1.48479237e+00 -5.09616263e+00]
 [ 1.52723792e+00  3.14104857e+00]
 [-4.83150303e-01 -2.18069608e-01]
 [ 4.82254235e-01 -1.02455011e+00]
 [-3.39565581e-02  8.14214912e-01]
 [-5.04188871e-01 -3.92424651e-01]
 [ 2.82231207e-01  4.64067441e-01]
 [-3.29280222e-01 -3.51116074e-01]
 [-2.28747690e-01 -4.23431745e-01]
 [ 4.75123754e-01  1.55572231e+00]
 [-5.44782958e-01 -9.26778324e-02]
 [-1.17851198e+00 -2.64476775e+00]
 [ 5.91149629e-01  7.35804640e-01]
 [-4.20854529e-01 -9.32320424e-01]
 [ 3.00995578e-01  7.73856505e-01]
 [ 3.05680795e-01  1.49352315e+00]
 [-5.55058820e-02  1.19139454e+00]
 [-5.99930336e-01 -8.05875190e-01]
 [ 9.46746793e-01  2.46898717e+00]
 [-3.19219528e-01 -1.80294221e+00]
 [ 2.33472782e-01  5.98954888e-01]
 [ 1.14798871e+00  3.11261598e+00]
 [-4.52827993e-01 -2.02355683e+00]
 [ 1.78326865e-01 -9.89886193e-01]
 [ 6.54079300e-01 -1.69812278e-01]
 [-1.19253433e+00 -2.43644180e+00]
 [ 3.19384611e-01 -6.79662317e-02]
 [-1.92957428e+00 -2.52922881e+00]
 [ 1.24349192e+00  4.34006937e+00]
 [-1.63310469e+00 -3.57680227e+00]
 [ 7.77591240e-01  2.81174955e+00]
 [ 3.98258983e-01  3.07803261e-01]
 [ 9.25743957e-01  2.83084111e+00]
 [-4.93843157e-01 -1.86714765e+00]
 [-4.30293322e-02 -1.34250819e+00]
 [-7.58643529e-01 -1.78112342e+00]
 [ 2.11304453e-01  4.00005138e-01]
 [-1.08991624e+00 -1.81905086e+00]
 [-5.41858148e-01 -1.15911457e+00]
 [-3.08541228e-01 -7.55544459e-02]
 [-4.75998080e-01 -4.10372701e-01]
 [ 1.21828261e+00  3.05745001e-01]
 [-1.79666967e+00 -1.97037456e+00]
 [-3.69439827e-01 -1.00031388e+00]
 [ 1.71618571e-01  2.85460558e-01]
 [ 4.13293782e-01 -2.16684866e-01]
 [ 8.59278635e-01  9.95308072e-01]
 [-1.16340799e-01 -6.01953603e-01]
 [-3.90659602e-01 -1.13223305e+00]
 [-9.92970779e-01 -2.16611609e+00]
 [-1.29823673e+00 -5.18682700e+00]
 [ 2.52688990e-01  1.58580757e+00]
 [-2.24071996e+00 -5.67869687e+00]
 [ 4.62618221e-02 -1.33274853e-01]
 [-1.12015802e+00 -3.01528046e+00]
 [-5.05919832e-01 -1.56754928e+00]
 [ 1.05570147e+00  2.88807041e+00]
 [-9.59778270e-01 -9.17332107e-01]
 [ 3.38293981e-01  1.48486034e-01]
 [-6.12049556e-01 -1.21704639e+00]
 [-2.31321700e-01 -6.37596605e-01]
 [-1.21341180e+00 -2.52949918e+00]
 [-2.18485819e+00 -4.07211516e+00]
 [ 1.39110726e-02 -1.72794227e+00]
 [-7.17305491e-01 -1.27681847e+00]
 [-1.14891234e+00 -1.64322377e+00]]
(100, 2)

In [39]:
plt.scatter(x[:, 0], x[:, 1]);

In [40]:
ind = np.random.choice(x.shape[0], 20, replace=False)
print(ind)

[37 46 28 10 99 94 23 63 69 72 52 39 17 95 79  6 15 61 20 96]

In [41]:
selected = x[ind]
print(selected)
print(selected.shape)

[[ 0.48225423 -1.02455011]
 [ 0.59114963  0.73580464]
 [-1.13143694 -1.72371279]
 [ 0.57877273  2.636321  ]
 [-1.14891234 -1.64322377]
 [-0.2313217  -0.63759661]
 [-0.98011575 -0.09290897]
 [-1.63310469 -3.57680227]
 [-0.75864353 -1.78112342]
 [-0.54185815 -1.15911457]
 [ 0.94674679  2.46898717]
 [-0.50418887 -0.39242465]
 [ 0.62499709  1.4951684 ]
 [-1.2134118  -2.52949918]
 [ 0.41329378 -0.21668487]
 [ 0.44484589  0.65825555]
 [ 0.79084221  1.47981907]
 [-1.92957428 -2.52922881]
 [ 0.51691384  0.28717773]
 [-2.18485819 -4.07211516]]
(20, 2)

In [42]:
plt.scatter(x[:, 0], x[:, 1], alpha=0.3)
plt.scatter(selected[:, 0], selected[:, 1],
            facecolor='red', s=50);

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Display the help documnet
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\shin\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\shin\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [3]:
# print the version of pandas  10/14(목)
pd.__version__

'1.3.3'

In [4]:
"""
   Pandas object: series
"""
# create a series from an array

ser= pd.Series([0.25, 0.5, 0.75, 1.0]) # contructor method
print(ser)
print(type(ser), '\n')

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [5]:
# two main attributes: 'values' and 'index'
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [6]:
# Label-based Indexing
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser)
ind = ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
"""
Dictionary and series
"""
dict = {'a' : 1, 2 : 'two', 'third' : True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [20]:
"""
Create a series from a dictionary
"""
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
print(population)

print(population['Texas' : 'Illinois'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

In [12]:
"""
 pandas object: DataFrame
"""

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
    

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [13]:
"""
Caution: Slicing Series object using explicit/implicit indexing
"""

states = pd.DataFrame({'population': population, 'area': area})
print(states)

print(states.index)
print(states.columns)
print(states['population'])

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [21]:
# construct a dataframe form
arr = np.random.rand(3, 2)
print(arr, '\n')

pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])

[[0.00326721 0.76078892]
 [0.07022964 0.13372593]
 [0.74373441 0.23712839]]

        foo       bar
a  0.003267  0.760789
b  0.070230  0.133726
c  0.743734  0.237128

In [22]:
"""
Series object manipulation: dictionary-style
"""
ser = pd.Series([0.25, 0.5, 0.75, 1.0], 
                index=['a', 'b', 'c', 'd'])

print(0.25 in ser)

print(ser.keys())

False
Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
"""
Series object manipuation: array=style
"""

ser['e'] = 1.25
ser['a'] = 0.125
print(ser, '\n')

print(ser['a':'c'], '\n') # slicing

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

a    0.125
b    0.500
c    0.750
dtype: float64

In [17]:
"""
caution: Slicing series object using explicit/implicit indexing
"""

states['density'] = states['population'] / states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [18]:
# Indexer: loc, iLoc

print(states)

states.loc['New York': 'Illinois']

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121
Illinois    12882135  149995   85.883763

In [19]:
# Masking and fancy indexing using the loc indexer
print(states.loc[states.density > 100, ['population', 'density']], '\n')

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121

In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
numpy.concatenate()
"""
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

print(np.concatenate([x, y, z])) # vstack(), hstack()
print(np.vstack([x, y, z]))

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [3]:
"""
   pandas.concat()
"""
# simply concatenate the two series objects

ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

print(ser1, '\n\n', ser2)

print(pd.concat([ser1, ser2]))

1    A
2    B
3    C
dtype: object

 4    D
5    E
6    F
dtype: object
1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [4]:
# make _df(): create a Data

def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}

    return pd.DataFrame(data, ind)

In [5]:
# DataFrame example
print(make_df('ABC', [1, 2]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [6]:
# Concatenate the two DataFrame objects

df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

print(df1, '\n')
print(df2, '\n')

print(pd.concat([df1, df2], axis=1)) # default axis is 0.

    A   B
1  A1  B1
2  A2  B2

    A   B
3  A3  B3
4  A4  B4

     A    B    A    B
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3  NaN  NaN   A3   B3
4  NaN  NaN   A4   B4

In [7]:
# Change the axis to 0.

df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])

print(df3, '\n')
print(df4, '\n')

print(pd.concat([df3, df4], axis=1))

    A   B
0  A0  B0
1  A1  B1

    C   D
0  C0  D0
1  C1  D1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [8]:
"""
  concate() Features
"""

# Case 1: Duplicate indices

x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])

y.index = x.index # make duplicate indices!

print(x, '\n')
print(y, '\n')

print(pd.concat([x, y]))

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [9]:
# Case 2: Catching duplications as errors

try:
    pd.concat([x, y], verify_integrity=True)
except ValueError as e:
    print("ValueError: ", e)

ValueError:  Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [10]:
# Case 3: Ignore the index:
# assign integer-based indices automatically

pd.concat([x, y], ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [11]:
# Case 4: Adding multiindex keys (hierarchical indexing)

pd.concat([x, y], keys=['x', 'y'])

      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

In [12]:
"""
    concat(): join options
"""

x = make_df('ABC', [1, 2])
y = make_df('BCD', [3, 4])

In [13]:
# default: outer join -> union

print(x, '\n')
print(y, '\n')
print(pd.concat([x, y], join='outer'))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

    B   C   D
3  B3  C3  D3
4  B4  C4  D4

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [28]:
# inner join -> intersection

print(df5, '\n')
print(df6, '\n')
print(pd.concat([df5, df6], join='inner'))

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 0, 1, 2]

In [15]:
# append()

print(df1); print()
print(df2); print()
print(df1.append(df2))

    A   B
1  A1  B1
2  A2  B2

    A   B
3  A3  B3
4  A4  B4

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [16]:
""" 
join operations
"""
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                   'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
    
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                   'hire_date': [2004, 2008, 2012, 2014]})

print(df1, '\n')
print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [17]:
# One-to-one joins

df3 = pd.merge(df1, df2)
print(df3)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [18]:
# Many-to-one joins

df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                   'supervisor': ['Carly', 'Guido', 'Steve']})

print(df3, '\n')
print(df4, '\n')

print(pd.merge(df3, df4))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [19]:
# Many-to-many joins

df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                             'Engineering', 'Engineering',
                             'HR', 'HR'],
                   'skills': ['math', 'spreadsheets', 'coding',
                             'linux', 'spreadsheets', 'organization']})

print(df1, '\n')
print(df5 , '\n')

print(pd.merge(df1, df5))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

In [20]:
""" 
  specifying the merge Key
"""
# 'on' argument: use a common column as merge ket

print(df1, '\n')
print(df2, '\n')

df1['age'] = pd.Series([20, 42, 37, 25])
df2['age'] = pd.Series([37, 20, 42, 25])


print(df1, '\n')
print(df2, '\n')

print(pd.merge(df1, df2, on='employee'), '\n')

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

  employee        group  age
0      Bob   Accounting   20
1     Jake  Engineering   42
2     Lisa  Engineering   37
3      Sue           HR   25

  employee  hire_date  age
0     Lisa       2004   37
1      Bob       2008   20
2     Jake       2012   42
3      Sue       2014   25

  employee        group  age_x  hire_date  age_y
0      Bob   Accounting     20       2008     20
1     Jake  Engineering     42       2012     42
2     Lisa  Engineering     37       2004     37
3      Sue           HR     25       2014     25

In [21]:
# 'Left_on' and 'right_on' arguments:

df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                   'salary': [70000, 80000, 120000, 90000]})

                    
print(df1, '\n')
print(df3, '\n')
                    
                    
pd.merge(df1, df3, left_on='employee', right_on='name')

  employee        group  age
0      Bob   Accounting   20
1     Jake  Engineering   42
2     Lisa  Engineering   37
3      Sue           HR   25

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

  employee        group  age  name  salary
0      Bob   Accounting   20   Bob   70000
1     Jake  Engineering   42  Jake   80000
2     Lisa  Engineering   37  Lisa  120000
3      Sue           HR   25   Sue   90000

In [22]:
# 'left_index' and 'right_index' arguments
# merge on and index ('employee')

df1a = df1.set_index('employee')
df2a = df2.set_index('employee')

print(df1a, '\n\n', df2a)

pd.merge(df1a, df2a, left_index=True, right_index=True )

                group  age
employee
Bob        Accounting   20
Jake      Engineering   42
Lisa      Engineering   37
Sue                HR   25

           hire_date  age
employee
Lisa           2004   37
Bob            2008   20
Jake           2012   42
Sue            2014   25

                group  age_x  hire_date  age_y
employee
Bob        Accounting     20       2008     20
Jake      Engineering     42       2012     42
Lisa      Engineering     37       2004     37
Sue                HR     25       2014     25

In [23]:
"""
    Specifying the Join method
"""

df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                   'food': ['fish', 'beans', 'bread']},
                  columns=['name', 'food'])

df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                   'drink': ['wine', 'beer']},
                  columns=['name', 'drink'])

print(df6, '\n')
print(df7)

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

     name drink
0    Mary  wine
1  Joseph  beer

In [24]:
# inner join (default)

pd.merge(df6, df7, how='inner')

   name   food drink
0  Mary  bread  wine

In [25]:
# outer join

pd.merge(df6, df7, how='outer')

     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer

In [26]:
# left join

pd.merge(df6, df7, how='left')

    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

In [27]:
# right join

pd.merge(df6, df7, how='right')

     name   food drink
0    Mary  bread  wine
1  Joseph    NaN  beer